/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li > a {
  color: rgb(9, 40, 134);
}

a {
  text-decoration: none;
  color: aliceblue;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.active {
  color: rgb(14, 117, 155);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 70px;
  background-color: rgb(59, 59, 59);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

button {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  background-color: rgb(70, 70, 180);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
